<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eventify</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- include css in the header -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
</head>
<body>
	
	<div class="heading"><h1> EVENTIFY</h1></div> 
  <div > <form action="/query" style="float: right;">
  <input type="text" name="query" placeholder="search for Events,Interest or Organizer" style="font-size: 18pt; height: 30px; width:450px;">
  <input type="submit" value="search">
</form> </div>
<div class="heading"><a href="/events" >CREATE EVENT </a></div>
<div class="heading"><a href="/citysearch" >CHANGE CITY </a></div>


<h3 style="text-align:center">Upcoming Events in City</h3>
<ul>
   <li><a class="active" th:href="@{/{city}(city=${city})}">ALL</a></li>
  <li><a th:href="@{/{city}/educnlrng(city=${city})}">EDCATIONAL & LEARNING</a></li>
  <li><a th:href="@{/{city}/sportsnfitness(city=${city})}">SPORTS & FITNESS</a></li>
  <li><a th:href="@{/{city}/tech(city=${city})}">TECH</a></li>
  <li><a th:href="@{/{city}/trvladv(city=${city})}">TRAVEL & ADVENTURE</a></li>
  <li><a th:href="@{/{city}/biznntwk(city=${city})}">BIZ & NETWORKING</a></li>
  <li><a th:href="@{/{city}/entertainment(city=${city})}">ENTERTAINMENT</a></li>
  <li><a th:href="@{/{city}/others(city=${city})}">OTHERS</a></li>
  
</ul>


<div>
       <form th:action="@{/selectcity}" th:object="${myFormObject}" method="post" >
        <p>Select City: <input type="text" th:field="*{city}" /></p>
        <p><input type="submit" value="Select" /></p>
      </form>
</div>
 	
	 <!-- include javascript in the footer -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib.js}"></script>
	
</body>
<footer>@Copyright eventify.com 2019</footer>
</html>